In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import norm
import seaborn as sns

wine_testing=pd.read_csv('C:\\Users\\assharma\\Downloads\\winequality-red.csv')
wine_testing

,Dummy,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,Ph,sulphates,alcohol,quality
0,Wine,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,Wine,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,Wine,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,Wine,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,Wine,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,Wine,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,Wine,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,Wine,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,Wine,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,Wine,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [2]:
wine_testing.columns=map(str.upper,wine_testing.columns)
wine_testing['DUMMY']=wine_testing['DUMMY'].str.upper()
wine_testing.rename(columns={'FREE SULFUR DIOXIDE':'FRF_SULF_DIX','TOTAL SULFUR DIOXIDE':'TOT_SULF_DIX'},inplace=True)

wine_testing

,DUMMY,FIXED ACIDITY,VOLATILE ACIDITY,CITRIC ACID,RESIDUAL SUGAR,CHLORIDES,FRF_SULF_DIX,TOT_SULF_DIX,DENSITY,PH,SULPHATES,ALCOHOL,QUALITY
0,WINE,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,WINE,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,WINE,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,WINE,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,WINE,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,WINE,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,WINE,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,WINE,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,WINE,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,WINE,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
wine_testing[wine_testing.isnull().values]

,DUMMY,FIXED ACIDITY,VOLATILE ACIDITY,CITRIC ACID,RESIDUAL SUGAR,CHLORIDES,FRF_SULF_DIX,TOT_SULF_DIX,DENSITY,PH,SULPHATES,ALCOHOL,QUALITY
6,WINE,7.9,0.60,NaN,1.6,0.069,15.0,59.0,NaN,3.30,0.46,9.4,5
6,WINE,7.9,0.60,NaN,1.6,0.069,15.0,59.0,NaN,3.30,0.46,9.4,5
7,WINE,7.3,0.65,0.00,1.2,0.065,15.0,21.0,NaN,3.39,NaN,10.0,7
7,WINE,7.3,0.65,0.00,1.2,0.065,15.0,21.0,NaN,3.39,NaN,10.0,7
9,WINE,7.5,0.50,0.36,6.1,0.071,17.0,102.0,NaN,3.35,0.80,10.5,5
10,WINE,6.7,0.58,0.08,1.8,0.097,15.0,65.0,NaN,3.28,0.54,9.2,5
11,WINE,7.5,0.50,0.36,6.1,0.071,17.0,102.0,NaN,3.35,0.80,10.5,5
15,WINE,8.9,0.62,0.19,3.9,NaN,51.0,148.0,0.9986,3.17,0.93,9.2,5
19,WINE,7.9,NaN,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6
112,WINE,8.4,0.60,0.10,2.2,NaN,14.0,111.0,0.9964,3.15,0.66,9.8,5
113,WINE,10.1,0.31,0.44,2.3,NaN,22.0,46.0,0.9988,3.32,0.67,9.7,6
114,WINE,7.8,0.56,0.19,1.8,NaN,12.0,47.0,0.9964,3.19,0.93,9.5,5
115,WINE,9.4,0.40,0.31,2.2,NaN,13.0,62.0,0.9966,3.07,0.63,10.5,6
116,WINE,8.3,0.54,0.28,1.9,NaN,11.0,40.0,0.9978,3.39,0.61,10.0,6
117,WINE,7.8,0.56,0.12,2.0,NaN,7.0,28.0,0.9970,3.37,0.50,9.4,6

In [4]:
wine_testing.isnull().sum()

DUMMY               0
FIXED ACIDITY       0
VOLATILE ACIDITY    1
CITRIC ACID         1
RESIDUAL SUGAR      0
CHLORIDES           7
FRF_SULF_DIX        0
TOT_SULF_DIX        0
DENSITY             5
PH                  0
SULPHATES           1
ALCOHOL             0
QUALITY             0
dtype: int64

In [5]:
wine_testing.fillna(wine_testing.mean(),inplace=True)

In [6]:
wine_testing[wine_testing['FRF_SULF_DIX']==15]

,DUMMY,FIXED ACIDITY,VOLATILE ACIDITY,CITRIC ACID,RESIDUAL SUGAR,CHLORIDES,FRF_SULF_DIX,TOT_SULF_DIX,DENSITY,PH,SULPHATES,ALCOHOL,QUALITY
2,WINE,7.8,0.760,0.040000,2.3,0.092,15.0,54.0,0.997000,3.26,0.650000,9.80,5
6,WINE,7.9,0.600,0.271108,1.6,0.069,15.0,59.0,0.996747,3.30,0.460000,9.40,5
7,WINE,7.3,0.650,0.000000,1.2,0.065,15.0,21.0,0.996747,3.39,0.658267,10.00,7
10,WINE,6.7,0.580,0.080000,1.8,0.097,15.0,65.0,0.996747,3.28,0.540000,9.20,5
32,WINE,8.3,0.655,0.120000,2.3,0.083,15.0,113.0,0.996600,3.17,0.660000,9.80,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,WINE,7.0,0.560,0.170000,1.7,0.065,15.0,24.0,0.995140,3.44,0.680000,10.55,7
1557,WINE,6.6,0.855,0.020000,2.4,0.062,15.0,23.0,0.996270,3.54,0.600000,11.00,6
1569,WINE,6.2,0.510,0.140000,1.9,0.056,15.0,34.0,0.993960,3.48,0.570000,11.50,6
1571,WINE,6.4,0.380,0.140000,2.2,0.038,15.0,25.0,0.995140,3.44,0.650000,11.10,6
1573,WINE,6.0,0.580,0.200000,2.4,0.075,15.0,50.0,0.994670,3.58,0.670000,12.50,6

In [7]:
wine_testing.isnull().sum()

DUMMY               0
FIXED ACIDITY       0
VOLATILE ACIDITY    0
CITRIC ACID         0
RESIDUAL SUGAR      0
CHLORIDES           0
FRF_SULF_DIX        0
TOT_SULF_DIX        0
DENSITY             0
PH                  0
SULPHATES           0
ALCOHOL             0
QUALITY             0
dtype: int64

In [8]:
wine_testing.describe()

,FIXED ACIDITY,VOLATILE ACIDITY,CITRIC ACID,RESIDUAL SUGAR,CHLORIDES,FRF_SULF_DIX,TOT_SULF_DIX,DENSITY,PH,SULPHATES,ALCOHOL,QUALITY
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527951,0.271108,2.538806,0.087419,15.874922,46.467792,0.996747,3.311113,0.658267,10.422983,5.636023
std,1.741096,0.178984,0.194730,1.409928,0.047017,10.460157,32.895324,0.001886,0.154386,0.169442,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996747,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [9]:
wine_testing.loc[wine_testing['CITRIC ACID']==0.0,'CITRIC ACID']=np.NAN

In [10]:
wine_testing.describe()

,FIXED ACIDITY,VOLATILE ACIDITY,CITRIC ACID,RESIDUAL SUGAR,CHLORIDES,FRF_SULF_DIX,TOT_SULF_DIX,DENSITY,PH,SULPHATES,ALCOHOL,QUALITY
count,1599.000000,1599.000000,1467.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527951,0.295502,2.538806,0.087419,15.874922,46.467792,0.996747,3.311113,0.658267,10.422983,5.636023
std,1.741096,0.178984,0.184717,1.409928,0.047017,10.460157,32.895324,0.001886,0.154386,0.169442,1.065668,0.807569
min,4.600000,0.120000,0.010000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.140000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.280000,2.200000,0.079000,14.000000,38.000000,0.996747,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.440000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [19]:
wine_testing.isnull().sum()

DUMMY                 0
FIXED ACIDITY         0
VOLATILE ACIDITY      0
CITRIC ACID         132
RESIDUAL SUGAR        0
CHLORIDES             0
FRF_SULF_DIX          0
TOT_SULF_DIX          0
DENSITY               0
PH                    0
SULPHATES             0
ALCOHOL               0
QUALITY               0
dtype: int64

In [20]:
wine_testing.fillna(wine_testing.mean(),inplace=True)

In [21]:
wine_testing.describe()

,FIXED ACIDITY,VOLATILE ACIDITY,CITRIC ACID,RESIDUAL SUGAR,CHLORIDES,FRF_SULF_DIX,TOT_SULF_DIX,DENSITY,PH,SULPHATES,ALCOHOL,QUALITY
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527951,0.295502,2.538806,0.087419,15.874922,46.467792,0.996747,3.311113,0.658267,10.422983,5.636023
std,1.741096,0.178984,0.176924,1.409928,0.047017,10.460157,32.895324,0.001886,0.154386,0.169442,1.065668,0.807569
min,4.600000,0.120000,0.010000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.150000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.295502,2.200000,0.079000,14.000000,38.000000,0.996747,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000